<Configuration>
  <Add OfficeClientEdition="64" Channel="PerpetualVL2021" AllowCdnFallback="True">
     <Product ID="ProPlus2021Volume">
         <Language ID="MatchOS" />
         <ExcludeApp ID="Teams" />
     </Product>
  </Add>
  <Remove All="True" />
  <RemoveMSI All="True" />
  <Display AcceptEULA="TRUE" />
</Configuration>
